lab1/todo-ws/src/main/wsdl/TodoService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://todo.bigws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://todo.bigws/" name="ToDoServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://todo.bigws/" schemaLocation="todo.xsd"/>
</xsd:schema>
</types>
<message name="addNote">
<part name="parameters" element="tns:addNote"/>
</message>
<message name="addNoteResponse">
<part name="parameters" element="tns:addNoteResponse"/>
</message>
<message name="listNotes">
<part name="parameters" element="tns:listNotes"/>
</message>
<message name="listNotesResponse">
<part name="parameters" element="tns:listNotesResponse"/>
</message>
<message name="countNotes">
<part name="parameters" element="tns:countNotes"/>
</message>
<message name="countNotesResponse">
<part name="parameters" element="tns:countNotesResponse"/>
</message>
<message name="deleteNote">
<part name="parameters" element="tns:deleteNote"/>
</message>
<message name="deleteNoteResponse">
<part name="parameters" element="tns:deleteNoteResponse"/>
</message>
<portType name="ToDoService">
<operation name="addNote">
<input wsam:Action="http://todo.bigws/ToDoService/addNoteRequest" message="tns:addNote"/>
<output wsam:Action="http://todo.bigws/ToDoService/addNoteResponse" message="tns:addNoteResponse"/>
</operation>
<operation name="listNotes">
<input wsam:Action="http://todo.bigws/ToDoService/listNotesRequest" message="tns:listNotes"/>
<output wsam:Action="http://todo.bigws/ToDoService/listNotesResponse" message="tns:listNotesResponse"/>
</operation>
<operation name="countNotes">
<input wsam:Action="http://todo.bigws/ToDoService/countNotesRequest" message="tns:countNotes"/>
<output wsam:Action="http://todo.bigws/ToDoService/countNotesResponse" message="tns:countNotesResponse"/>
</operation>
<operation name="deleteNote">
<input wsam:Action="http://todo.bigws/ToDoService/deleteNoteRequest" message="tns:deleteNote"/>
<output wsam:Action="http://todo.bigws/ToDoService/deleteNoteResponse" message="tns:deleteNoteResponse"/>
</operation>
</portType>
<binding name="ToDoServicePortBinding" type="tns:ToDoService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addNote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listNotes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countNotes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteNote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ToDoServiceService">
<port name="ToDoServicePort" binding="tns:ToDoServicePortBinding">
<soap:address location="http://127.0.0.1:8081/todo"/>
</port>
</service>
</definitions>
