lab1/todo-ws/src/main/wsdl/todo.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xs:schema xmlns:tns="http://todo.bigws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://todo.bigws/">

<xs:element name="addNote" type="tns:addNote"/>

<xs:element name="addNoteResponse" type="tns:addNoteResponse"/>

<xs:element name="countNotes" type="tns:countNotes"/>

<xs:element name="countNotesResponse" type="tns:countNotesResponse"/>

<xs:element name="deleteNote" type="tns:deleteNote"/>

<xs:element name="deleteNoteResponse" type="tns:deleteNoteResponse"/>

<xs:element name="fetchNotes" type="tns:fetchNotes"/>

<xs:element name="fetchNotesResponse" type="tns:fetchNotesResponse"/>

<xs:element name="listNotes" type="tns:listNotes"/>

<xs:element name="listNotesResponse" type="tns:listNotesResponse"/>

<xs:complexType name="deleteNote">
<xs:sequence>
<xs:element name="task" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteNoteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listNotes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listNotesResponse">
<xs:sequence>
<xs:element name="return" type="tns:note" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="note">
<xs:sequence>
<xs:element name="context" type="xs:string" minOccurs="0"/>
<xs:element name="priority" type="xs:int"/>
<xs:element name="project" type="xs:string" minOccurs="0"/>
<xs:element name="task" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countNotes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countNotesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNote">
<xs:sequence>
<xs:element name="task" type="xs:string" minOccurs="0"/>
<xs:element name="context" type="xs:string" minOccurs="0"/>
<xs:element name="project" type="xs:string" minOccurs="0"/>
<xs:element name="priority" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNoteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchNotes">
<xs:sequence>
<xs:element name="task" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchNotesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>